
<div class="format-selector">
    <button mat-raised-button
            [color]="selectedFormat() === 'gzip' ? 'accent' : 'disabled'"
            (click)="selectFormat('gzip')"
            >
      .gz
    </button>
  
    <button mat-raised-button
            [color]="selectedFormat() === 'zip' ? 'accent' : 'disabled'"
            (click)="selectFormat('zip')"
            >
      .zip
    </button>
  </div>

<div class="drop-zone"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)"
     (click)="fileInput.click()">
     

  <div class="helper">
   

    <button mat-raised-button color="accent" class="select-btn">
      Seleccionar archivo <mat-icon class="icon">cloud_upload</mat-icon>
    </button>

    <p class="hint">…o arrástralo aquí</p>
  </div>


  <input #fileInput type="file" multiple hidden (change)="handleInput($event)" />
</div>


<ng-container *ngIf="files().length">
  <app-progress-bar
    *ngFor="let f of files(); trackBy: trackByFn"
    [file]="f">
  </app-progress-bar>
</ng-container>
