
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  
    /* Degradado “galaxy” */
    background: linear-gradient(135deg, #7b2ff7 0%, #f107a3 100%);
    font-family: 'Inter', Roboto, Arial, sans-serif;
    color: #ffffff;         
  }
  
  
  .main-card {
    width: min(90vw, 480px);
    padding: 2rem 2.5rem;
    // border-radius: 1.5rem;
    border-radius: 24px;
    box-shadow: 0 25px 50px -15px rgba(0 0 0 / .35);
  
   
    background: rgba(255, 255, 255, 0.15);   
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.20);

  
    color: #000000;
  }
  

  .title {
    background: linear-gradient(135deg, #7b2ff7 0%, #f107a3 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0 0 1.5rem;
    font-family: 'Poppins', 'Inter', sans-serif;
    font-size: clamp(1.8rem, 2.5vw + 1rem, 2.4rem);
    font-weight: 700;
    text-align: center;
  }
  

  .drop-zone {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    border: 2px dashed rgba(255, 255, 255, 0.582);
    border-radius: 1rem;
    text-align: center;
    transition: background 0.25s ease;
    width: 100%;
    max-width: 360px;    
    margin: 0 auto; 
  
    p {
      margin: 0;
      opacity: 0.8;
    }
  
    &:hover,
    &.cdk-drop-list-dragging {
      background: rgba(255, 255, 255, 0.05);
    }
  }
  

  .file-row {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    word-break: break-all;
  
    mat-progress-bar {
      flex: 1;
      height: 8px;
      border-radius: 4px;
    }
  }

  button.mat-raised-button {
    transition: transform .15s;
    &:hover { transform: translateY(-3px); }
  }
  